body {
    overflow-x:hidden;
    overflow-y:scroll;
    margin:0px;
}

body, p {
    font:1em Helvetica,Arial,sans-serif;
    color:#222;
}

p {
    text-align: center;
    margin: 10px;
}

input {
    padding:10px;
}

ul {
    list-style-type:none;
}

h3 {
    padding-left:10px;
    color: #444;
    text-shadow: 1px 1px 1px #FFF;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color:inherit;
    text-decoration:none;
}

table {
    width:100%;
    background:transparent;
}

td {
    padding:5px;
}

/* FORMS */
input[type=text],input[type=password], textarea, select {
    font:1em Helvetica, arial, sans-serif;
    width:100%;
    display:block;
    padding:10px;
    border:0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance:none;
    -moz-appearance:none;
    -webkit-focus-ring-color:  rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    outline:none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.1px;
    opacity: 1;
    text-shadow: 1px 1px 1px #FFFFFF;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    -webkit-appearance:none;
    -webkit-focus-ring-color:  rgba(0, 0, 0, 0);
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button {
    -moz-box-sizing: border-box;
    display:block;
    padding:10px;
    width:100%;
}

input[type=submit], input[type=button], .button {
    font:1em Helvetica, arial, sans-serif;
    background: -moz-linear-gradient(center top,
                                     #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F9F9F9),color-stop(1,#E3E3E3));
    width:100%;
    border: 1px solid #BBBBBB;
    outline: medium none;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    font-weight:bold;
    font-size:18px;
    text-shadow: 1px 1px 1px #FFF;
    height:45px;
    line-height:25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

::-webkit-input-placeholder {
    color:#BBB;
}

:-moz-placeholder {
    color:#BBB;
}

/* LAYOUT */
#content {
    position:relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.pane {
    position:absolute;
    top:0px;
    margin-top:50px;
    width:100%;
    padding-bottom:10px;
}

.slidepane {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

header {
    z-index:4;
    width:100%;
    display:block;
    position:fixed;
    top:0px;
    background:#222;
    background:-moz-linear-gradient(center top , #444, #222)
       repeat scroll 0 0 transparent;
    background      : -webkit-gradient(linear, left top, left bottom,
                                       color-stop(0%,#444),
                                       color-stop(100%,#222));
    border-bottom:1px solid #000;
}

ul {
    margin:10px;
    -webkit-box-shadow:0px 1px 2px #666;
    box-shadow:0px 1px 2px #666;
    -moz-box-shadow: 1px 1px 1px #FFF;
    background-clip: padding-box;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding:0px;
}


li:first-child {
    border-radius:0.6em 0.6em 0px 0px;
}
li:first-child:last-child {
    border-radius:0.6em;
}

li:last-child {
    border-radius:0px 0px 0.6em 0.6em;
    border-width:1px;
}

li {
    position:relative;
    display: block;
    overflow:auto;
    background: -moz-linear-gradient(center top , #FEFEFE, #EEE) repeat scroll 0 0 #EEEEEE;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FEFEFE),color-stop(1,#EEE));
    opacity:1;
    font-weight:bold;
    font-size:14px;
    border:0px;
    height:auto;
    border:1px solid #BBB;
    border-width:1px 1px 0px 1px;
    color: #2F3E46;
    text-shadow: 1px 1px 1px #FFF;
    letter-spacing:1.1px;
}
li a {
    cursor:pointer;
}
li:first-child a:hover {
    border-radius:0.6em 0.6em 0 0;
}
li:last-child a:hover {
    border-radius:0 0 0.6em 0.6em;
}
li a:hover {
    background: -moz-linear-gradient(center top , #EDEDED, #DADADA) repeat scroll 0 0 #DADADA;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#EDEDED),color-stop(1,#DADADA));
}

li a, li > span {
    display:block;
    padding:15px;
}

.plain_btn {
    background:-moz-linear-gradient(center top , #555, #333);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#555),color-stop(1,#333));
    opacity:1;
    width:auto;
    font-size:14px;
    border:0px;
    padding:6px;
    margin:9px;
    height:auto;
    border:1px solid #000;
    -webkit-border-radius:3px;
    border-radius:3px;
    color:#FFF;
    text-shadow: 0 1px 1px #F6F6F6;
    letter-spacing:1.1px;
    cursor:pointer;
}

.plain_btn.active {
    background: -moz-linear-gradient(center top , #B8DB29, #5A8F00) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#B8DB29),color-stop(1,#5A8F00));
    color:white;
}

.plain_btn {
    position:absolute;
}
header h1 {
    color:white;
    text-align:center;
    margin:10px 70px;
    font-size:1.5em;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

li.header {
    padding: 0.5em 15px;
    background: -moz-linear-gradient(center top , #81A8CE, #5E87B0) repeat scroll 0 0 #5E87B0;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#81A8CE),color-stop(1,#5E87B0));
    border: 1px solid #456F9A;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px #254F7A;
}

li input[type=text], li input[type=password] {
    -moz-box-sizing: border-box;
    border: 1px solid #CCCCCC;
    display: block;
    font: bold 1em Helvetica,Arial,sans-serif;
    margin: 10px 0px;
    padding: 4px;
}

#config label {
    position:relative;
}
li label {
    display:block;
    margin:10px;
}

option {
    padding-left:10px;
}

.home {
    position:absolute;
    top:10px;
    left:15px;
}
.home.plain_btn {
    padding: 0 5px;
}

.home img {
    height:24px;
    height:24px;
}

#document {
    margin:10px;
    padding:5px;
    background:#EEE;
    border:1px solid #999;
    overflow:auto;
}

.none {
    text-align:center;
    padding:10px;
}

#stored { margin-bottom:30px; }

#unauthorized {
    margin:15px 20px;
    text-align:center;
    padding:10px;
    border-radius:5px;
    -moz-box-shadow:0px 1px 2px #666;
    -webkit-box-shadow:0px 1px 2px #666;
    background: -moz-linear-gradient(center top,
                                     #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F9F9F9),color-stop(1,#E3E3E3));
    border: 1px solid #BBBBBB;

}

#unauthorized h1 {
    font-weight:bold;
    font-size:48px;
    font-family: caption;
    color:red;
}

.adminparty { color:#999; margin:20px;}

.label { text-align:right; font-weight:normal; width: 70px;}

select {
    font-weight:bold;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline:none;
    width:100%;
    /* padding:10px 10px 10px 10px; */
    border-radius:5px;
    -moz-box-shadow:0px 1px 2px #666;
    -webkit-box-shadow:0px 1px 2px #666;
    background: -moz-linear-gradient(center top,
                                     #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#F9F9F9),color-stop(1,#E3E3E3));
}


option { font-weight:normal; text-shadow:none; outline:none;}

.selectwrapper { padding:10px;}
.selectwrapper input[type="text"], .selectwrapper input[type="password"] { margin:0px; width:100%; }

li:last-child .delete {
    border-radius:0px 0px 5px 0px;
}

.delete, .cancel {
    position:absolute; right:0px; top:0px;
    height:100%;
    border-left:1px solid #AAA;
    background:#666;
    padding:0px 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.1px;
    opacity: 1;
    text-shadow: 1px 1px 1px #000;
    color:white;


}

.repl {
    position:relative;
}

.selectwrapper select {
    margin-bottom:10px;
}

#user { color:white; position:absolute; right:0px; top:0px; display:inline;
}

.warning { color:red; }

.unavailable { text-decoration: line-through; color:#999; }

#paginator {
    position:relative;
    padding:10px;
}

#paginator .next, #paginator .back {
    width:40%;
}

.next { position:absolute; right:10px; top:0px;}
.back { position:absolute; top:0px;}

.jsonval { display:inline; color:#999; font-weight:normal; white-space: pre-wrap; white-space: -moz-pre-wrap; text-shadow:none; }

#savekey { margin-bottom:20px; }

::-webkit-input-placeholder {
    font-weight: normal !important;
}

:-moz-placeholder {
    font-weight: normal !important;
}

.info { margin-bottom:20px; }

.light { color:#999; }

.right {
    display: block;
    position: absolute;
    right: 0;
    top:15px;
}
.arrow {
    display:block;
    width:14px;
    padding-left:2px;
    padding-bottom:3px;
    height:13px;
    line-height:15px;
    -moz-line-height:16px;
    background:#666;
    color: #FFF;
    font-size: 20px;
    margin-right: 15px;
    border-radius:8px;
    text-align:center;
    text-shadow:none;
}


@-moz-document url-prefix() {
    .arrow {
        line-height:16px;
    }
}